.hover-container {
    width: 100%;
    position: relative;
}
.hover-item {
    position: absolute;
    top: 0px;
    z-index: 10;
}
.close-hover{
    position: absolute;
    right: 10px;
    z-index: 20;
}
 #saveImage {
    right: 0;
    position: absolute;
}
.btn, .custom-select {
    margin: 10px auto;
}
.media-screen-container{
    margin-left: auto;
    margin-right:  auto;
}
.image-screen{
    width: 640px;
    height: 480px;
    position: relative
}